@model Dal.Ciudad

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ciudad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCiudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCiudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoCiudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoCiudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departamento.CodigoDepartamento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPais" />
        <input type="hidden" asp-for="IdDepartamento" />
        <input type="hidden" asp-for="IdCiudad" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
